[2017-06-27 17:16] greenkeeper[bot] opened #18 "An in-range update of typescript is breaking the build 🚨"
## Version **2.4.1** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2Ftypescript-2.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>
    <th ali

[2017-06-29 20:06] joanllenas opened #20 "Improve documentation"
To improve documentation:
- Organize pipes by type (add, sub, difference, etc.).
- Add a usage example for each pipe type.

[2017-07-02 12:31] #20 closed

[2017-07-26 19:11] greenkeeper[bot] opened #28 "An in-range update of awesome-typescript-loader is breaking the build 🚨"
## Version **3.2.2** of [awesome-typescript-loader](https://github.com/s-panferov/awesome-typescript-loader) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2Fawesome-typescript-loader-3.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      a

[2017-07-31 21:54] greenkeeper[bot] opened #30 "An in-range update of mocha is breaking the build 🚨"
## Version **3.5.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2Fmocha-3.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-08-02 21:39] greenkeeper[bot] opened #31 "An in-range update of @angular/platform-browser-dynamic is breaking the build 🚨"
## Version **4.3.3** of [@angular/platform-browser-dynamic](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2F%40angular%2Fplatform-browser-dynamic-4.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @a

[2017-08-16 23:51] greenkeeper[bot] opened #34 "An in-range update of @angular/core is breaking the build 🚨"
## Version **4.3.5** of [@angular/core](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2F%40angular%2Fcore-4.3.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/core
    </td>
  </tr>
  <tr>

[2017-09-16 02:24] greenkeeper[bot] opened #35 "An in-range update of @angular/compiler-cli is breaking the build 🚨"
## Version **4.4.0** of [@angular/compiler-cli](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2F%40angular%2Fcompiler-cli-4.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler-cli

[2017-09-19 02:56] greenkeeper[bot] opened #36 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **4.4.2** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2F%40angular%2Fcompiler-4.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </tr

[2017-09-29 06:39] #36 closed

[2017-09-29 06:39] #35 closed

[2017-09-29 06:39] #34 closed

[2017-09-29 06:39] #31 closed

[2017-09-29 06:39] #30 closed

[2017-09-29 06:40] #28 closed

[2017-09-29 06:40] #18 closed

[2017-11-15 23:47] greenkeeper[bot] opened #67 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.53** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2F%40types%2Fnode-8.0.53">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2017-11-22 09:06] #67 closed

[2017-12-07 00:02] greenkeeper[bot] opened #94 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.56** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2F%40types%2Fnode-8.0.56">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2018-01-05 07:09] greenkeeper[bot] opened #99 "An in-range update of css-loader is breaking the build 🚨"
## Version **0.28.8** of [css-loader](https://github.com/webpack-contrib/css-loader) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2Fcss-loader-0.28.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      css-loader
    </td>
  </tr>
  <tr>

[2018-01-05 09:24] #94 closed

[2018-01-05 09:24] #99 closed

[2018-01-05 16:14] greenkeeper[bot] opened #100 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.5.6** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/joanllenas/ngx-date-fns/compare/greenkeeper%2F%40types%2Fnode-8.5.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>

[2018-01-12 14:54] mhadaily opened #112 "set Locale"
Hi,
thanks for your awesome work.
Just wondering, are you going to support locale? https://date-fns.org/v1.29.0/docs/I18n

[2018-01-12 15:00] mhadaily commented on #112
Ah I just see you are supporting options

[code]

[2018-01-25 07:32] joanllenas commented on #112
Closing

[2018-01-25 07:32] #112 closed

[2018-01-25 15:36] #100 closed

[2018-02-23 16:31] KeithPepin-CyG opened #128 "Documentation request: i18n example"
**Description of the Issue and Steps to Reproduce:**
I see from other issues that your pipes support passing in an options argument for date-fns, and thus it supports i18n. I'm new to date-fns however, and haven't written many pipes of my own yet.I would really love to see an example of how i18n works with the angular pipes you provide for the library since loading the locale and passing in the de

[2018-02-27 02:25] joanllenas commented on #128
Hi, I have added an example with locales in the README.
I hope it clarifies how it works.
Cheers

[2018-02-27 02:25] #128 closed

[2018-02-27 15:27] KeithPepin-CyG commented on #128
Excellent, thank you!

[2018-03-07 11:01] victornoel opened #135 "Integrate with angular's locale"
Is there any plan to integrate with the localization used by angular instead of having it being passed by options manually?

This would work in the same way as the i18n pipes of angular, see https://angular.io/api/core/LOCALE_ID.

[2018-03-07 17:05] joanllenas commented on #135
Hi, thanks for suggesting.
That would be a good addition indeed!
I'll have a look when I have some time, probably during this month.

[2018-04-08 19:11] joanllenas commented on #135
@victornoel [ngx-date-fns v2.0.2](https://github.com/joanllenas/ngx-date-fns/releases/tag/v2.0.2) comes some additions to work with global locales.
You can find the details in the documentation: https://github.com/joanllenas/ngx-date-fns#working-with-locales

Cheers!

[2018-04-08 19:11] #135 closed

[2018-04-09 11:09] victornoel commented on #135
@joanllenas thx, that's great!

[2018-04-27 13:26] greenkeeper[bot] opened #153 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/joanllenas/ngx-date-fns/compare/master...joanllenas:greenkeeper%2Fupdate-to-node-10">open a

[2018-05-21 08:48] #153 closed

[2018-05-21 08:54] joanllenas opened #160 "Create pure versions of impure pipes"
Create a pure version of all impure pipes:

- [x] dfnsFormat
- [x] dfnsFormatDistance
- [x] dfnsFormatDistanceStrict
- [x] dfnsFormatDistanceToNow
- [x] dfnsGetWeek
- [x] dfnsGetWeekOfMonth
- [x] dfnsGetWeeksInMonth
- [x] dfnsGetWeekYear
- [x] dfnsStartOfWeek
- [x] dfnsStartOfWeekYear
- [x] dfnsLastDayOfWeek
- [x] dfnsParse

[2018-07-23 08:33] joanllenas opened #175 "Add stackblitz examples"
Recreate all examples in stackblitz and add the links in the documentation.

[2018-08-06 07:10] nfdevil opened #178 "Update to date-fns 2.0.0"
Update the library to use date-fns 2.0.0.
Currently, using it with date-fns 2.0.0, it gives multiple warnings of functions not being found, ex.:

[code]

[2018-08-07 09:57] nfdevil commented on #178
I've created a PR with the changes: #179

[2018-08-08 06:29] joanllenas commented on #178
That's great @nfdevil !
I'll have a look ASAP, likely over the weekend. (I'm on vacation right now).

[2018-08-08 07:17] nfdevil commented on #178
Sure, enjoy :)!

[2018-08-14 07:36] joanllenas commented on #178
Hey @nfdevil
I have merged your pull request.

While I figure out a couple of issues and wait for the final `date-fns` version I will be releasing `ngx-date-fns@next` versions.

Thanks a lot for this great contribution.
Cheers!

[2018-08-14 07:36] #178 closed

[2018-11-18 18:00] toverux opened #208 "Runtime locale change & OnPush strategy"
Hello,

I am using `OnPush` components and `DateFnsConfigurationService.setLocale` to change language at runtime. I react to `LangChangeEvent`s from ngx-translate to sync the locale used by ngx-date-fns.

The thing is, I use OnPush components and that prevents Angular from cheking the pipes used in the component. Since the locale is changed outside of the Inputs of the component, Angular doesn't r

[2018-11-19 08:48] joanllenas commented on #208
Hi @toverux , I'll take a look at both the `DateFnsConfigurationService.setLocale` + `OnPush` and the `strictNullChecks` issues during this week.

Regarding date-fns v2 there's already a WIP on master thanks to a PR made by [@nfdevil](https://github.com/nfdevil) and published to npm as `ngx-date-fns@next`. I will finish the work once v2 final is released.

Cheers!

[2018-11-26 20:36] joanllenas commented on #208
Hi @toverux ,
I just released v2.0.3 with your suggestions.

The version number is not correct though, because there's actually a breaking change. If you implemented your own `DateFnsConfiguration` you have to add the `Subject` that pipes will subscribe to in order to get notified by locale changes.
The default implementation: https://github.com/joanllenas/ngx-date-fns/blob/v2/src/lib/src/date-fns

[2018-11-26 20:36] #208 closed

[2018-11-28 14:33] toverux commented on #208
Cool!
I'll upgrade later but I'm pretty sure this will be alright :)
Thanks a lot!

[2018-12-03 10:23] unsafecode opened #215 "Allow to import pipe selectively"
**Description of the Issue and Steps to Reproduce:**

Looks like the current implementation always imports all the pipe, making the final bundle excessively large:

![image](https://user-images.githubusercontent.com/1794924/49367855-868efd00-f6ed-11e8-9258-b2a1dca6273f.png)

It would be better to be able to import pipes in a more selective way, in order not to increase the final app size including

[2018-12-03 10:33] beradrian opened #216 "rxjs-compat need"
I think rxjs-compat is needed. You could replace imports like import { Subject } from "rxjs/Subject" with import { Subject } from "rxjs'

[2018-12-04 10:59] joanllenas commented on #216
Hi @beradrian ,
the current stable version uses rxjs v5.5, the one on master is already migrated to rxjs v6 and all imports follow that pattern.

The version on master depends on date-fns v2, which is on alpha.25 right now, so when it is released I will finish the migration and release as well.

Thanks for reporting,
cheers!

[2018-12-04 10:59] #216 closed

[2019-05-25 15:53] JesusCN opened #257 "Error is is not a Module when adding locales"
Hi,

I followed the instructions to **Changing locale globally.**

The next error appears:

ERROR in src/app/app.module.ts(43,27): error TS2306: File '.../node_modules/date-fns/locale/es/index.d.ts' is not a module.

I can serve the app and is working but the error is very anoying.

What can i do ?¿

* Angular version? 7.2.12
* TypeScript version? 3.2.4
* `date-fns` version? 1.30.1

Thanks in adva

[2019-05-27 08:01] joanllenas commented on #257
Hi @JesusCN ,
I'll take a look ASAP.

Meanwhile, you can try downgrading date-fns to v1.29. That's the version this library has been developed/tested with and shouldn't be problematic. I'm not sure what changed from 1.29 to 1.30 but there are no API changes. It should be safe.

Cheers

[2019-05-28 21:30] JesusCN commented on #257
Hi @joanllenas,

Thanks for the quick reply !! I can confirm you that the error didnt show up with v1.29 of date-fns.

Thanks again.

Cheers

[2019-05-28 21:30] #257 closed

[2019-07-23 15:51] toverux opened #277 "Allow "0" date values"
Hello,
I wanted to use the `dfnsDistanceInWords` pipe to convert a number in a duration string (an absolute number, ie. a time interval but not a date per se).
For that, I usually cheat with `distanceInWords` function by passing a "zero" date for comparison, so I have two "absolute" referentials.

Ex: `dateFns.distanceInWords(0, myDuration)` would return something like "less than a minute".

Refac

[2019-07-24 07:20] joanllenas commented on #277
Hi @toverux , thanks for reporting this bug.
I'll fix it ASAP.

Cheers!

[2019-07-28 15:26] joanllenas commented on #277
Hey @toverux , this should be fixed now.
Check v4.0.3
Cheers!

[2019-07-28 15:26] #277 closed

[2019-07-28 16:52] toverux commented on #277
Yay! Thanks!

[2019-08-29 10:17] toverux commented on #178
Just wanted to say that [date-fns v2 is out](https://github.com/date-fns/date-fns/releases/tag/v2.0.0)! (finally...) :smile:

[2019-08-29 23:41] davidecampello opened #291 "date-fns v2 compatibility"
Hi, are there any plan to release a version compatibile with date-fns v2?
Thanks

[2019-08-31 11:24] joanllenas commented on #291
Hi @davidecampello ,
sure, a new version is in the works.
You can subscribe to "releases only" to get notified when that happens.
Cheers!

[2019-08-31 11:24] #291 closed

[2020-02-06 16:05] JoeFamiliar opened #309 "Missing DateFnsConfigurationService in pipes"
Hi Joan!

Thanks for the great library.

Why you don't use `DateFnsConfigurationService` and `calculateLocale()` in most of pipes, e.g.  [start-of-week](https://github.com/joanllenas/ngx-date-fns/blob/master/projects/ngx-date-fns/src/lib/start-of-week.pipe.ts ) as you used it in [format-distance](https://github.com/joanllenas/ngx-date-fns/blob/master/projects/ngx-date-fns/src/lib/format-distance.p

[2020-02-06 16:12] breslavsky commented on #309
I have the same problem. It will be very useful.

[2020-02-06 17:24] joanllenas commented on #309
Hi! I missed that one.

Most pipes don't need locale support, that's why I keep them locale agnostic. Adding locale support also means turning pipes impure, which should be done only when strictly necessary, given that they are called for every change detection cycle.

Thanks for reporting, I'll take a look ASAP.

[2020-02-07 07:17] breslavsky commented on #309
@JoeFamiliar thanks for the answer.

When you are saying about "impure pipes", do you mean switching locale in runtime?

In our project, we are using [angular i18n](https://angular.io/guide/i18n). It means that our app fully built on target locale. There are no runtime locale changes. Each language has own dist. Probably it is possible to configure your library like:

[code]
In this case, we will

[2020-02-07 08:11] joanllenas commented on #309
@breslavsky you can already configure the library like that. Check this out: https://github.com/joanllenas/ngx-date-fns#changing-locale-globally

[2020-02-07 09:26] breslavsky commented on #309
Yes, but in this case, I have access to

`constructor(public config: DateFnsConfigurationService) {}`

in my components and I can change locale in runtime and you should we be worried about updating pipes.

Using this approach

[code]

Locale will be set once while the module initialized. `DateFnsConfigurationService` will private in your module and will not be exported.

[2020-02-07 11:03] joanllenas commented on #309
Sorry, I think I'm not following. I still think that what you are suggesting is already possible.
Do you mind opening a new issue with the improvement suggestion, please? we can discuss it there (so we keep one issue per topic).

[2020-02-09 22:15] #309 closed

[2020-02-09 22:25] joanllenas commented on #309
@JoeFamiliar [v6.0.0](https://github.com/joanllenas/ngx-date-fns/releases/tag/v6.0.0) is ready with the fixes.
Cheers!

[2020-02-10 07:23] breslavsky opened #313 "Configure locale in module"
Hi @joanllenas as we discussed in https://github.com/joanllenas/ngx-date-fns/issues/309

I offer to configure locale in module directly `DateFnsModule.forRoot({locale: ru})`.

The main advantage of this is all pipes could be pure and that will be good for performance.

[code]

The disadvantage is that we will not be able to change locale dynamically.

Or we will need to reload the page, e.g.
[code

[2020-02-10 08:11] JoeFamiliar commented on #309
@joanllenas  awesome! Great job! Thx a lot))

[2020-02-10 08:43] joanllenas commented on #313
Hi @breslavsky ,
I understand your concern.

Instead of removing the feature of changing locales at runtime my plan is to create pure versions of all impure pipes ( check this out: https://github.com/joanllenas/ngx-date-fns/issues/160 ) and you'll still be able to use

[code]

Subscribe to #160 to keep track of progress.
Cheers!

[2020-02-12 07:25] JoeFamiliar opened #316 "Pipes isFuture, isPast, isToday"
Hello again)
Do you plan to add pipes based on date-fns functions like isToday, isPast and isFuture?

[2020-02-12 08:40] joanllenas commented on #316
Hi Joe,
Sure, I can add them 👍

[2020-02-14 08:56] breslavsky commented on #316
I need these pipes too :-)

[2020-02-21 10:15] breslavsky opened #326 "Get weekday name pipe"
Please check my suggestion for pipe `<div>{{0 | dfnsWeekdayName:weekdayName.short}}</div>`

[code]
The pipe will be useful to create calendars as we should write weekdays names based on current locale.

[2020-02-21 10:21] JoeFamiliar commented on #326
That will be nice! Wanna it)

[2020-02-21 10:45] joanllenas commented on #326
That's nice,
until now this library has been strictly a one to one conversion from date-fns to Angular pipes, but I like the idea of opening a new _utilities_ section to add more value.
This could be the first of many :)

This weekend I'll work on all pending proposals.
Thanks!

[2020-02-21 10:52] breslavsky commented on #313
I think it is possible to save `DateFnsConfigurationService` as public API.

But we can add the possibility for

[code]

For me it is beauty :-)

[2020-02-21 10:52] breslavsky commented on #326
Thanks a lot for you job and reactive feedback ;-)

We included your library to our open source UI kit for angular. In 1 month we are preparing release and sure, will be a special section about `ngx date fns` how to configure locales.

I will share the link to you soon ;-)

[2020-02-23 18:06] joanllenas commented on #326
This is available on v6.1.0.
See: https://github.com/joanllenas/ngx-date-fns/releases/tag/v6.1.0
Closing

[2020-02-23 18:06] #326 closed

[2020-02-23 18:06] joanllenas commented on #316
This is available on v6.1.0.
See: https://github.com/joanllenas/ngx-date-fns/releases/tag/v6.1.0
Closing

[2020-02-23 18:06] #316 closed

[2020-03-25 09:48] JoeFamiliar opened #328 "Pipes isToday, isWeekend, isSameMonth"
Hi Joanllenas!
Thx for adding pipes in [this issue](https://github.com/joanllenas/ngx-date-fns/issues/316)! But you didn't add isToday, it will be nice to use it
And also will be good to have pipes such as isWeekend and isSameMonth or something like this
Thx a lot for you job!)

[2020-03-25 11:25] JoeFamiliar commented on #328
And do you plan to add dfnsParse pipe?

[2020-03-25 17:19] joanllenas commented on #328
Hi @JoeFamiliar,
Now I see I missed that one...

I can add all of them:
- isToday
- isWeekend
- isSameMonth
- parse

Cheers!

[2020-03-27 10:03] JoeFamiliar commented on #328
Awesome news!) waiting for this)) Cheers!

[2020-03-29 19:48] joanllenas commented on #328
This is ready in version [v6.2.1](https://github.com/joanllenas/ngx-date-fns/releases/tag/v6.2.1)
Closing

[2020-03-29 19:48] #328 closed

[2020-04-16 09:58] JoeFamiliar opened #329 "IsSameYear pipe"
Hello, @joanllenas
Thx for your last [update](https://github.com/joanllenas/ngx-date-fns/issues/328)
You have added IsSameMonth, IsSameYear will be nice to use too)
Thx a lot!

[2020-04-20 08:22] joanllenas commented on #329
Hi @JoeFamiliar ,
Sure, I'll take a look ASAP.

[2020-04-26 10:50] joanllenas commented on #329
Hi @JoeFamiliar ,
v6.3.0 includes the `IsSameYearPipe` pipe.
- https://github.com/joanllenas/ngx-date-fns/releases/tag/v6.3.0

Cheers!

[2020-04-26 10:50] #329 closed

[2020-05-11 00:04] JoeFamiliar commented on #329
@joanllenas thx a lot! cheers)

[2020-05-24 20:08] gmanoj26 commented on #215
@joanllenas : As date-fns v2 is released. do we have any update on this open issue.

[2020-05-25 17:28] joanllenas commented on #215
Hi @gmanoj26 ,
I took a look a while ago and didn't find a solution to the problem. V2 by itself didn't solve the issue.
Maybe, for this to work we need something like what [this article](https://indepth.dev/angular-revisited-tree-shakable-components-and-optional-ngmodules/) suggests; one pipe per module; but I think it's not a good idea given the number of pipes this library contains.

I'm open t

[2020-06-03 16:05] vhdirk opened #331 "Support date-fns-tz"
It'd be cool if you could also format timezone-aware dates. For that you need the format function from date-fns-tz.

I'm willing to create a PR, but I wanted to check if/how you'd integrate a feature like that.

[2020-06-04 09:31] joanllenas commented on #331
Hi @vhdirk, thanks for your suggestion.
What bothers me is adding another mandatory dependency to the library. I'm not 100% sure about this, but let me take a look first, I haven't used this library myself.

[2020-07-18 22:18] toverux opened #337 "Add dfnsParseIso pipe"
Hi!
I found myself needing a dfnsParseIso pipe since the dates coming from my server API are ISO-formatted (ie. not localized) and since date-fns 2.0 doesn't supports strings anymore.

[code]

[2020-07-26 18:02] joanllenas commented on #160
Closed via https://github.com/joanllenas/ngx-date-fns/pull/340

[2020-07-26 18:02] #160 closed

[2020-07-26 18:11] joanllenas commented on #313
#160 has been closed via https://github.com/joanllenas/ngx-date-fns/releases/tag/v6.4.0

[2020-07-26 18:11] #313 closed

[2020-07-26 18:14] joanllenas commented on #175
Not doing this

[2020-07-26 18:14] #175 closed

[2020-07-26 21:32] joanllenas commented on #215
I added a section about tree shaking in the docs.
I hope this helps: https://github.com/joanllenas/ngx-date-fns#tree-shaking-date-fns

[2020-07-26 21:32] #215 closed

[2020-09-15 07:43] joanllenas commented on #337
New pipe included in v6.5.0.
See https://github.com/joanllenas/ngx-date-fns/releases/tag/v6.5.0

[2020-09-15 07:43] #337 closed

[2020-09-15 07:57] toverux commented on #337
Thanks!

[2020-09-30 19:28] KingDarBoja commented on #215
In order to make each pipe tree-shakable, those must be provided as secondary entry points (as stated by the article, 1 pipe per entry point / module). It can be easily done using [ng-samurai](https://github.com/kreuzerk/ng-samurai) schematics.

Willing to look into this as I am using this library but not being tree-shakable atm.

[2020-10-24 22:52] LayZeeDK commented on #331
You could add a secondary entry point in a sub-folder by adding a `package-json` file like this one:

[code]

[2020-10-25 08:47] joanllenas commented on #331
Thank's @LayZeeDK,
I had no idea this could be done. Researching right know 👍

[2020-10-25 11:24] LayZeeDK commented on #331
Example here: https://github.com/ng-packagr/ng-packagr/blob/master/integration/samples/secondary/sub-module/package.json

[2020-10-25 11:25] LayZeeDK commented on #331
Docs here: https://github.com/ng-packagr/ng-packagr/blob/master/docs/secondary-entrypoints.md

[2020-10-25 15:16] joanllenas commented on #331
I also found this very detailed article: https://medium.com/tunaiku-tech/creating-secondary-entry-points-for-your-angular-library-1d5c0e95600a
I will look into all of this more thoroughly next weekend.

[2020-12-03 05:53] waveiron opened #344 "Allow empty value (Prevent throwing "Invalid time value")"
**Description of the Issue and Steps to Reproduce:**

Did you search for duplicate issue? [Yes]

Please describe the issue and steps to reproduce, preferably with a code sample / plunker:

[code]
This will throw:

[code]

[2020-12-03 10:22] joanllenas commented on #344
Hi @waveiron ,
Not accepting invalid input values was a decision I made when I started this project, but at this point, I agree that this is not what you expect from a pipe.

I will probably follow a pattern similar to what Angular uses for its pipes:
https://github.com/angular/angular/blob/11.0.3/packages/common/src/pipes/number_pipe.ts#L239

Does that work for you?

For consistency sake, I will

[2020-12-04 12:20] waveiron commented on #344
That will work, since pipes accept "loose" data in view level. Thanks for your great work.

[2020-12-30 21:42] joanllenas commented on #344
Hi @waveiron
Just released v7 with your suggestion implemented: https://github.com/joanllenas/ngx-date-fns/releases/tag/v7.0.0
Cheers!

[2020-12-30 21:42] #344 closed

[2021-01-04 13:00] waveiron commented on #344
@joanllenas Wow, thanks for your great work!

[2021-02-02 13:49] MickL opened #346 "Documentation for lazy loaded modules"
When having lazy loaded modules:

[code]

Should AppModule import with `forRoot()` and all others without? Or should all 3 import with forRoot?

Maybe would be nice if you could add this information to the docs, too :)

[2021-02-04 09:27] joanllenas commented on #346
Hi @MickL , thanks for reporting.

# TL;DR
Use `DateFnsModule` in lazy loaded modules, `DateFnsModule.forRoot()` only in the root module.

# Enhancements
I added an example in the demo app and a note in the readme.
Details here: https://github.com/joanllenas/ngx-date-fns/commit/1bfe54fd232e39b34e48bbe43a99dea3782d8593

Hope this clarifies your issue!

[2021-02-04 09:27] #346 closed

[2021-02-09 15:36] MickL opened #347 "Support `strictTemplates` / All pipes should accept null and undefined"
With Angular [strict mode](https://angular.io/guide/strict-mode) all inputs need to be optional:

[code]

Or using the async pipe returns `null`:

[code]

But then the compiler is throwing an error with ngx-date-fns pipes, e.g.:

I would suggest to add strict typechecking to tsconfig:

[code]

 and add a questionmark to all pipe inputs to support `undefined` and also accept `null`, e.g. the format

[2021-02-10 09:15] joanllenas commented on #347
Hi @MickL ,
I'll take a look at this during the weekend.
Thanks!

[2021-02-10 18:10] MickL commented on #347
I added "null" to the example because when using the async pipe it can return null and undefined is not null: `{{ (myDate$ | async) | dfnsFormat: 'dd.MM.yyyy'}}`

[2021-02-20 12:36] hwebb opened #349 "Deprecated package?"
Just FYI, your package doesn't work anymore.
I get nearly 100 errors like "node_modules\ngx-date-fns\fesm2015\ngx-date-fns.js depends on 'date-fns/parseISO'. CommonJS or AMD dependencies can cause optimization bailouts.". I thought it was coming from date-fns, but after a lot of headache I decided to remove your package, and by my surprise date-fns was working just fine without it!
I'm wondering w

[2021-02-21 08:14] joanllenas commented on #349
Hi @hwebb ,

You mean that you had an application where the lib was working, then you upgraded to a newer version and it stopped working? if that is the case, can you tell me which versions?

Ok, those 100 errors you mention are actually warnings. Each warning comes with a link, If you click on it you'll find instructions about how to avoid them.

What do you mean?

[2021-02-21 12:23] joanllenas commented on #347
@MickL [v7.0.2](https://github.com/joanllenas/ngx-date-fns/releases/tag/v7.0.2) implements this change.

Note that this has only been implemented for pipes that return a string representation of a date. The rest of the pipes that make calculations with dates are not affected because the input has to be valid.

[2021-02-21 12:23] #347 closed

[2021-02-21 13:04] MickL commented on #347
Awesome :)

[2021-02-22 00:33] rafaelss95 opened #351 "FR: Add *Duration pipes"
**Description of the Issue and Steps to Reproduce:**
Hey, I want to share a suggestion to add *Duration pipes for [**formatDuration**](https://date-fns.org/v2.17.0/docs/formatDuration), [**formatISODuration**](https://date-fns.org/v2.17.0/docs/formatISODuration) and [**intervalToDuration**](https://date-fns.org/v2.17.0/docs/intervalToDuration) functions.

Did you search for duplicate issue? Yes.

[2021-02-22 02:39] jpduckwo commented on #349
Hi, I'm also having this issue after upgrading ngx-date-fns 7.0.0 > 7.0.2. I think the concern part is why it's picking it up as a commonjs import now where as before it wasn't and it shouldn't be I think.

[2021-02-22 03:22] jpduckwo commented on #349
I believe there is something wrong with the format of the date-fns package version 2.17.0. Try to install 2.16.1 and test again
`npm install date-fns@2.16.1`
This fixed all my issues...

[2021-02-22 12:51] joanllenas commented on #351
Hi @rafaelss95 ,
it makes a lot of sense. I'll take a look at this soon.
Thanks for your suggestion!

[2021-03-03 12:11] macure opened #352 "IsEqual Pipe"
**Description of the Issue and Steps to Reproduce:**

Did you search for duplicate issue? [Yes / No] Yes

Please describe the issue and steps to reproduce, preferably with a code sample / plunker:

Hi it looks like dfnsIsEqual pipe is not working properly. Or maybe I'm doing something wrong.
Here you can find dfnsIsEqual (results: false) together with isEqual function (results: true)
https://stack

[2021-03-03 12:23] joanllenas commented on #352
Hi @macure ,
the correct syntax would be:
[code]

- a: 1st dfnsIsEqual param
- b: the pipe
- c: 2nd dfnsIsEqual param

Cheers!

[2021-03-03 12:23] #352 closed

[2021-03-03 12:25] joanllenas commented on #349
Feel free to reopen if you still need help.

[2021-03-03 12:25] #349 closed

[2021-03-03 14:12] macure commented on #352
@joanllenas Awesome! Thanks a lot!

[2021-03-06 12:20] joanllenas commented on #351
## Feature status

- [ ] formatDuration
- [ ] formatISODuration
- [ ] intervalToDuration

[2021-03-08 12:30] MickL commented on #349
I guess the warnings @hwebb described are not related to his problem. ngx-date-fns working fine for me, I am on date-fns 2.16.1.

[2021-03-08 12:33] MickL opened #354 ""CommonJS or AMD" warnings"
Question: Is it normal to have warnings like `...js depends on 'date-fns/...'. CommonJS or AMD dependencies can cause optimization bailouts.` and is the supposed way to fix it to add date-fns to `allowedCommonJsDependencies`? If so, doesnt it make sense to add the instruction to the readme?

Also is there an open issue on date-fns project to build ecmascript modules?

[2021-03-08 17:45] joanllenas commented on #354
It shouldn't be normal, `date-fns` provides ESM builds since `v2.0.0`.
https://date-fns.org/v2.0.0/docs/ECMAScript-Modules

[2021-03-08 17:55] MickL commented on #354
If they do, I wonder why the compiler complains

[2021-03-08 20:11] joanllenas commented on #354
Ok, I've investigated a little bit more and it looks like imports need to have `esm` in their paths to get rid of those warnings. Like this: `import addBusinessDays from 'date-fns/esm/addBusinessDays';`
This is weird because the docs don't tell anything about it.

Anyway, I'm not sure if fixing `esm` will break ie11 applications, I will have to investigate a little more before releasing anything.

[2021-03-09 11:40] MickL commented on #354
Related to https://github.com/date-fns/date-fns/issues/2207 maybe?

[2021-03-09 12:03] MickL opened #355 "Documentation about tree shaking is not correct"
The documentation says:

I did this and checked with `ng build --stats-json` and then using `webpack-bundle-analyzer` to see full 512kb ngx-date-fns is imported:

<img width="1047" alt="Bildschirmfoto 2021-03-09 um 12 59 55" src="https://user-images.githubusercontent.com/5103210/110467482-5f4ae580-80d7-11eb-9f07-81c2df3709d6.png">

But when I import just the specific pipe it works and ngx-date-fns

[2021-03-09 12:46] MickL commented on #354
So i investigated a little bit into this and it seems like this is an issue of date-fns. Using `2.16.1` there is no warning and tree shaking works. Using >2.16.1 <= 2.19.0 the is a warning and FULL date-fns is imported.

Issue: https://github.com/date-fns/date-fns/issues/2207

[2021-03-09 18:12] joanllenas commented on #354
That's good to know, thanks for taking the time to research this.
Cheers!

[2021-03-14 13:22] joanllenas commented on #355
@MickL I tested the bundle size with `webpack-bundle-analyzer` as you suggested but I think it's not working properly.
The command used to test tree shaking in this project is `npm run analyze:app` which uses `source-map-explorer`, and if you double-check with the actual `main.js` size, it makes sense.

# date-fns v2.19.0

![Screenshot 2021-03-14 at 13 17 12](https://user-images.githubusercontent.

[2021-03-14 13:22] #355 closed

[2021-03-26 00:06] jpduckwo commented on #354
https://github.com/date-fns/date-fns/pull/2339
I think this will solve this issue in future builds once merged... maybe this should be left open until date-fns is resolved and it's confirmed working?

[2021-03-26 08:39] joanllenas commented on #354
Thanks for pointing that out @jpduckwo , I will keep an eye on that PR.
And you are right, let's keep this opened for visibility until this is fixed.

Cheers!

[2021-04-13 13:33] joanllenas commented on #354
FYI, a new version just came out that fixes the issue:
https://github.com/date-fns/date-fns/releases/tag/v2.20.3
I will give this a try during the weekend and if it works, will update the README explaining the proper lib. ranges and so on.

[2021-04-18 10:27] joanllenas commented on #354
Tree shaking is fixed from `date-fns v2.21.1` onwards.
Just updated the README clarifying that.
Thanks for your help,
cheers!

[2021-04-18 10:27] #354 closed

[2021-05-01 09:09] joanllenas commented on #349
Hi @hwebb you need to install  date-fns `v2.16.1` or `>= v2.21.1`
I updated the installation instructions here: https://github.com/joanllenas/ngx-date-fns#installation
It's very confusing, I hope this helps.

[2021-05-01 09:20] hwebb commented on #349
I just updated date-fns to 2.21.1 and it worked indeed! I should have started with that.

[2021-07-26 20:09] joeveiga opened #363 "FR: dfnsFormatRelativeToNow"
**Description of the Issue and Steps to Reproduce:**

Hello 👋 ! I'd like to propose the addition of a new `dfnsFormatRelativeToNow` pipe which assumes `new Date()` as the second argument. Alternatively you could modify `dfnsFormatRelative` pipe to behave that way [here](https://github.com/joanllenas/ngx-date-fns/blob/9cd7d2430e32fb9eef5881a7c79586ba6cc712f2/projects/ngx-date-fns/src/lib/format-rel

[2021-07-27 07:20] joanllenas commented on #363
Hi @joeveiga ,
I like the idea of `dfnsFormatRelativeToNow, and I'm pretty sure other users will benefit from this.
I will be releasing a new version with the new pipe in the coming days.
Cheers!

[2021-07-27 11:58] joeveiga commented on #363
@joanllenas Thank you! 🙏

[2021-07-31 21:18] joanllenas commented on #363
@joeveiga this is ready!
https://github.com/joanllenas/ngx-date-fns/releases/tag/v8.2.0
Cheers!

[2021-07-31 21:18] joanllenas commented on #363
Closing

[2021-07-31 21:18] #363 closed

[2021-10-10 10:07] CiriousJoker opened #366 "isThisWeek() is missing."
**Description of the Issue and Steps to Reproduce:**

Did you search for duplicate issue? Yes

Please describe the issue and steps to reproduce, preferably with a code sample / plunker:

Some pipes are missing, specifically isThisWeek & isThisMonth. These functions are available in `date-fns`.

*Ensure your issue is isolated to ngx-date-fns. Issues involving third party tools will be closed unless

[2021-10-15 08:11] GitHubish opened #367 "What is the amLocal equivalent of ngx-moment?"
I am trying to migrate **ngx-moment** to **ngx-date-fns** since momentjs is no longer maintained. Only I understand that it is not quite possible to do the same thing. In my case all dates are stored in UTC in the database. The "format" of the dates returned by the backend is in ISO (C# ASP Core).
So to date I was doing this for example with **ngx-moment**:

`{{ myDate | amFromUtc | amLocal | amDa

[2021-10-17 20:33] joarkm1 commented on #366
@joanllenas I just added the pipes in my fork. Should I create a PR?

[2021-10-17 20:34] joarkm1 commented on #366
https://github.com/joarkm1/ngx-date-fns/tree/missing-is-pipes

[2021-10-17 21:26] joanllenas commented on #366
Hi @joarkm1,
I just started working on the three mentioned in this issue, but you went far beyond!
💯

[2021-10-23 12:17] #367 closed, assigned to nobody

[2022-01-10 15:48] marcwrobel opened #369 "Angular 13 : "Encourage the library authors to publish an Ivy distribution""
During the build of a project, angular-cli 13 issues the following message :
[code]

Except this message ngx-date-fns works fine. But it seems something has to be done in the ngx-date-fns library.

[2022-01-11 09:25] joanllenas commented on #369
Hey @marcwrobel ,
Nice catch 👍  I will take a look when I have some time.
Thank for reporting!

[2022-01-13 12:42] MorganWaya commented on #369
Hi everyone. I don't know if it is related but I obtain the following message with Angular 13:

`core.mjs:1122 Uncaught Error: Type DateFnsModule does not have 'ɵmod' property.
`

With

[code]

Any idea? Thank you for your work <3

[2022-01-20 21:34] marcwrobel commented on #369
Hi @MorganWaya, I did not see this message after upgrading to ngx-datefns 8.3.0 / date-fns 2.28.0 / angular 13.1.1. Did you found more information about it since you posted your comment ?

[2022-02-08 09:01] MorganWaya commented on #369
Hi!

It looks ok with the latest version, thank you!

[2022-02-14 03:29] jpduckwo commented on #369
Keen to see this release, thanks for your efforts @joanllenas

[2022-02-20 22:05] joanllenas commented on #369
Hey, I have a [PR](https://github.com/joanllenas/ngx-date-fns/pull/378) ready.
Follow the instructions on the PR comment to try the beta and let me know if it works, or there are any issues.
Thanks!

[2022-03-12 09:24] joanllenas commented on #369
Closed via https://github.com/joanllenas/ngx-date-fns/releases/tag/v9.0.0

[2022-03-12 09:24] #369 closed

[2022-06-13 15:35] vadimwe opened #383 "Angular 14 support"
**Description of the Issue and Steps to Reproduce:**

Did you search for duplicate issue? [Yes]

Please describe the issue and steps to reproduce, preferably with a code sample / plunker:

Requires angular 13.2.* in peer

**Environment:**

Ionic:

   Ionic CLI                     : 6.19.1 (/usr/local/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 6.1.9
   @angular-d

[2022-06-14 06:39] jpduckwo commented on #383
@joanllenas would be awesome if we can update the peer dependencies to 14.x now :) thanks!

[2022-06-14 15:47] joanllenas commented on #383
Hey @vadimwe and @jpduckwo ,
could you please give `ngx-date-fns@10.0.0-beta.0` a try?
It should work with Angular 14.

Thanks!

[2022-06-15 07:31] vadimwe commented on #383
@joanllenas It works fine now. Thank you :)

[2022-06-15 08:30] joanllenas commented on #331
Hey, It's been a long time since this was posted and there hasn't been much interest in this. I'm closing the issue.
Thanks!

[2022-06-15 08:30] #331 closed

[2022-06-15 09:29] jpduckwo commented on #383
Legend thank you!

[2022-06-18 18:12] LayZeeDK commented on #331
As it turns out, having dependencies in a secondary entry point isn't supported by any package managers so it wouldn't have made a difference. There are ways to mark peer dependencies as optional in the primary entry point's `package.json` file though.